<div class="authform">
  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <h3>Confirmar o e-mail?</h3>
    <p>Caso precise vamos enviar um novo e-mail para confirmar seu usuário.</p>
    <%= devise_error_messages! %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.label :email, 'E-Mail' %>
      <%= f.input :email, required: true, autofocus: true, label: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Reenviar confirmação", :class => 'button right'  %>
    </div>
  <% end %>
</div>