<%= render 'layouts/header_sci' %>

<!-- Page Content -->
<div class="container">

    <% if not user_signed_in? %>
        <p>Você não deveria estar aqui sem nós sabermos quem é, desculpe.</p>
        <p>Faça login no sistema e seja bem vindo!</p>              
    <!-- /.row -->
    <% else %>    
        <br/><br/><br/><br/>
        <center>
        <div class="panel panel-default">
          <div class="panel-heading">
            Um sistema para ajudar em suas dúvidas.
            <br>Faça perguntas, começe discussões no fórum e crie artigos que ajudaram outros!
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <br/><br/>
                <%= form_tag(articles_path, :method => :get) do %>
                  <%= link_to "Criar Artigo +".html_safe, new_article_path, :class => 'btn btn-primary btn-lg active' %>  
                  <%= text_field_tag 'search_by_text', nil, class: "btn btn-default btn-lg active", placeholder: 'Palavras chaves' %>
                  <%= submit_tag "Buscar &raquo;".html_safe, class: "btn btn-primary btn-lg active" %>
                <% end %>    
                <br/><br/>   
                <hr/> 
              </div>
              <div class="col-sm-3">
                  <h2><%= @articles.count %></h2>artigos no sistema.
              </div>
              <div class="col-sm-3">
                  <h2><%= @articles.where(user_id: current_user.id).count %></h2>artigos que criei.
              </div>
              <div class="col-sm-3">
                  <h2><%= @article_likes.where(user_id: current_user.id).count %></h2>artigos que me ajudaram.
              </div>
              <div class="col-sm-3">
                  <h2><%= @posts.count %></h2>tópicos de fórum.
              </div>            
            </div>
          </div>
        </div>        
        </center>
    <% end %>
    <!-- /.row -->

</div>
<!-- /.container -->
