<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Perfil</th>
      <th>Criado em</th>
      <th>Confirmado em</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= user.confirmed_at.strftime("%d/%m/%Y") if user.confirmed_at.present? %></td>
        <td>
          <%= link_to 'Ver', user_path(user), :class => 'btn btn-xs btn-success' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>