<li><%= link_to "SCI", root_path, style: 'color:red !important' %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Artigos', articles_path %></li>
  <li><%= link_to 'Tags', taxonomies_path %></li>
  <li><%= link_to 'Fórum', posts_path %></li>
  <li><%= link_to 'Usuários', users_path %></li>
  <li><%= link_to t('edit_account'), edit_user_registration_path %></li>
  <li><%= link_to t('sign_out'), destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to t('sign_in'), new_user_session_path %></li>
  <li><%= link_to t('sign_up'), new_user_registration_path %></li>  
<% end %>
<li><%= link_to 'Manual', asset_path('Manual_SCI_v2.pdf') %></li>
<li><%= link_to t(:about), page_path('about') %></li>